@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');

body {
  text-align: center;
  font-size: 18px;
  color:#FFFFFF;
}

p {
  letter-spacing: 2px;
}

table {
  justify-content: center;
  display: flex
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

#app {
  font-family: 'Work Sans', sans-serif;
  opacity: .6;
}

.top {
  background-size: 100%;
  width:100%;
  height:100%;
}

.main-content {
  max-height:540px;
  background-image: url("./images/pexels-photo.jpeg");
}

.container {
  #background-image: url("./images/palmTrees.jpg");
  #background-color: #53c0cc;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
}

.loading {
  justify-content: center;
  display: flex;
  padding: 3em;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav li  {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.summary-city {
  font-size: 3em; 
  margin-bottom: 0;
}

.summary-degrees {
  font-size: 4em; 
    box-sizing: border-box;

}

.summary-summary {
  margin: 0;
  padding-bottom:3em;
  font-size: 2em;
}

.summary-icons {
  height: 100px !important;
  width: 150px !important;

}

.daily-city {
  font-size: 1em; 
}

.daily-time {
  font-size: 30px !important;
}

.daily-summary {
  padding:10px;
  font-size: 28px;
}

.daily-icons {
  height: 20% !important;
  width: 20% !important;
}

.day-city {
  font-size: 2em; 
    padding:20px;

}

.day-summary {
  padding:20px;
  font-size: 28px;
}

.time {
  font-size: 30px !important;
}

.icons {
  height: 50px !important;
  width: 75px !important;
  padding: 5px;
  padding-top: 2em;
  text-align: center;
  }

.daily-degrees {
  font-size: 2em; 
  margin: 2px;
  padding-bottom: 5em;
}

.footer {
  height:50%;
    background-color:#53c0cc;

}

.row {
  padding:20px 31px;

}

.week-summary {
  padding-bottom: 7em;
}


